@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;


}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.main-index {
  flex-grow: 1;
}


.main-catalog {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  padding-top: 40px;
}

.header-container {
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 46px;
  padding-bottom: 19px;
  background-color: #FFE17F;
}

.page-header-logo {
  position: absolute;
  margin-top: -66px;
}

.page-header-logo[href]:hover {
  opacity: 0.6;
}

.page-header-logo[href]:focus {
  outline: 3px solid #af4fff;
}

.page-header-logo[href]:active {
  opacity: 0.3;
}

.user-menu-container {
  display: flex;
  margin-bottom: 27px;
}

.user-search-form {
  display: flex;
  width: 529px;
  margin-right: 10px;
}

.navigation-user-link {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffe17f;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  margin: 0;
  border: 3px solid #ffe17f;

}

.navigation-user-link:hover {
  opacity: 0.6;
}


.navigation-user-link:focus-visible {
  border-color: #af4fff;
  opacity: 1;
  outline: none;
}

.navigation-user-link:active {
  border-color: #ffe17f;
  opacity: 0.3;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 526px;
  justify-content: end;
}

.field-search:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.field-search:not(:placeholder-shown) {
  color: #000000;
}

.field-search:disabled {
  opacity: 0.3;
}

.field-search {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffe17f;
  background-image: url("../images/icons/search.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 14px;
  background-position-y: 11px;
  width: 359px;
  border: 2px #000000 solid;
  border-radius: 50px 0 0 50px;
  padding-left: 48px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 6px;
  margin-right: -1px;
}

.button-search {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFE17F;
  width: 158px;
  border: 2px #000000 solid;
  border-radius: 0 50px 50px 0;
  padding: 9px;
  padding-left: 0;
  cursor: pointer;
}

.button-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-search:focus {
  outline: 3px solid #af4fff;
}

.button-search:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}


.button-search:disabled {
  opacity: 0.3;
}

.navigation-login {
  width: 253px;
}

.user-login {
  width: 58px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 26px;
  text-align: left;
  background-image: url("../images/icons/login.svg");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: left 4px top 12px;
  margin-right: 18px;
}

.user-login.authorized {
  display: none;
}

.user-name {
  width: 123px;
  padding-top: 1px;
  padding-bottom: 4px;
  padding-left: 26px;
  text-align: left;
  background-image: url("../images/icons/login.svg");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: -2px 11px;
  margin-right: 10px;
  display: none;
}

.user-logout {
  width: 56px;
  padding-top: 1px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
  display: none;
  opacity: 0.3;
}


.user-name.authorized,
.user-logout.authorized {
  display: inline-block;
}

.user-compare {
  width: 83px;
  padding-top: 1px;
  padding-bottom: 4px;
  padding-right: 5px;
  padding-left: 25px;
  background-image: url("../images/icons/diagram.svg");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position-y: 13px;
}

.user-basket {
  width: 130px;
  text-align: right;
  padding-bottom: 1px;
  margin-right: -5px;
  padding-right: 2px;
  padding-left: 46px;
  background-image: url("../images/icons/basket.svg");
  background-size: 16px 13px;
  background-repeat: no-repeat;
  background-position: left 21px top 7px;
  box-sizing: border-box;
  position: relative;
}


.user-basket-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 1px 0;
  margin: 0;
  position: absolute;
  top: 6px;
  left: 5px;
  width: 21px;
  height: 21px;
  display: inline-block;
  box-sizing: border-box;
}

.navigation-user-item {
  position: relative;
}

/*паповер*/
.popover {
  position: absolute;
  top: 43px;
  right: -55%;
  z-index: 1;
  box-sizing: border-box;
  width: 320px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  display: none;
}

.popover::before {
  content: "";
  background-image: url("../images/icons/arrow-popover.svg");
  width: 14px;
  height: 7px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.popover-open {
  display: block;
}

.popover-content {
  height: 100%;
  padding-bottom: 20px;
}

.total-container {
  width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  margin-bottom: 20px;
}

.popover-open-basket {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background-color: #ffffff;
  color: #000000;
  display: block;
  margin: 0 auto;
  padding: 14px;
  width: 280px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid transparent;
}

.popover-open-basket:hover {
  background-color: #ffe17f;
}

.popover-open-basket:focus {
  border: 2px solid #af4fff;
  outline: none;
}

.popover-open-basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.popover-open-basket:disabled {
  opacity: 0.3;
}

.cart-list {
  display: grid;

  row-gap: 40px;

  padding: 20px;
  margin: 0;
  list-style: none;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  padding: 0;
  margin: 0;
  width: 280px;
  box-sizing: border-box;
}

.cart-item-link {
  display: flex;
  text-decoration: none;
  color: #ffffff;
  margin-right: 77px;
  border: 2px solid transparent;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:focus {
  border-color: #af4fff;
  outline: none;
}

.cart-item-link:active {
  opacity: 0.3;
}

.card-image {
  margin-right: 23px;
}

.cart-item-title {
  padding: 0;
  margin: 0;
  width: 121px;
}

.cart-item-delete {
  background-color: #000000;
  display: flex;
  margin: 0;
  padding: 2px;
  width: 16px;
  box-sizing: border-box;
  border: 2px solid transparent;
}


.svg-cart-item-delete {
  fill: #ffffff;
  background-size: 10px 10px;
}

.cart-item-delete:hover .svg-cart-item-delete {
  fill-opacity: 0.6;
}

.cart-item-delete:focus {
  border-color: #af4fff;
  outline: none;
}

.cart-item-delete:focus .svg-cart-item-delete {
  outline: none;
}

.cart-item-delete:active .svg-cart-item-delete {
  fill-opacity: 0.3;
}

.navigation-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  width: 1040px;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: 1;
}

.navigation-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background-color: #ffe17f;
  color: #000000;
  display: inline-block;
  margin: 0;
  padding: 2px;
  width: 129px;
  box-sizing: border-box;

  text-align: center;
  position: relative;
  border: 3px solid #ffe17f;

}


.navigation-menu-guarantee {
  margin-left: 37px;
  width: 130px;
}

.navigation-menu-contacts {
  margin-left: 41px;
  width: 136px;
  margin-right: -4px;
}

.navigation-menu-delivery {
  margin-left: 35px;
  width: 135px;
}

.navigation-menu-current .navigation-menu-link::before {
  position: absolute;
  right: 2px;
  bottom: 1px;
  left: 2px;
  height: 2px;
  background-color: #000000;
  content: "";
}


.navigation-menu-catalog-link {
  position: relative;
  width: 296px;
  box-sizing: border-box;
  padding-right: 56px;
  padding-left: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  border: 3px solid #ffe17f;
  margin-left: -4px;
}

.navigation-menu-catalog-link::after {
  background-image: url("../images/icons/circle-plus.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 51px;
  top: 0;
  right: 0;
  content: "";
  opacity: 0.3;
  z-index: 3;
}

.navigation-menu-catalog-link::before {
  background-image: url("../images/icons/circle-minus.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 51px;
  top: 0;
  right: 0;
  content: "";
  opacity: 0.3;
  z-index: 3;
  display: none;
}

.navigation-menu-item-catalog {
  position: relative;
  margin-right: auto;
}

.submenu-container-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 1160px;
  box-sizing: border-box;
  padding-top: 14px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 42px;
    margin: 0;
    position: absolute;
    top: 44px;
  left: -60px;
  background-color: #FFE17F;
  list-style: none;
  z-index: 1;
}


.submenu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 185px;
}

.submenu-list-wide {
  width: 225px;
}

.submenu-container-item:not(:last-child) {
  margin-right: 30px;
}

.submenu-close {
  display: none;
}

/*кнопки меню НЕ каталог*/
.navigation-menu-link:not(.navigation-menu-catalog-link):hover {
  opacity: 0.6;
}


.navigation-menu-link:focus-visible {
  border-color: #af4fff;
  opacity: 1.0;
  outline: none;
}

.navigation-menu-link:not(.navigation-menu-catalog-link):active {
  border-color: #ffe17f;
  opacity: 0.3;
}

/*Каталог*/
/*меняем цвет у крестика/минуса*/
.navigation-menu-item-catalog:hover .navigation-menu-catalog-link::after,
.navigation-menu-item-catalog:hover .navigation-menu-catalog-link::before {
  opacity: 1;
}

/*крестик меняется на минус*/
.navigation-menu-item-catalog:focus-within .navigation-menu-catalog-link::after {
  display: none;
}

.navigation-menu-item-catalog:focus-within .navigation-menu-catalog-link::before {
  display: block;
}

/*открывается подменю*/
.navigation-menu-item-catalog:focus-within .submenu-container-list {
  display: flex;
}

.navigation-menu-item-catalog:active .navigation-menu-catalog-link::after,
.navigation-menu-item-catalog:active .navigation-menu-catalog-link::before {
  opacity: 1;
}

.navigation-menu-item-catalog:active .submenu-container-list {
  display: flex;
}

.submenu-item {
  margin-bottom: 7px;
}

.submenu-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  margin: 0;
  padding: 3px 2px;
  box-sizing: border-box;
  border: 2px solid #ffe17f;
  position: relative;
}

.submenu-current .submenu-link::before {
  position: absolute;
  right: 2px;
  bottom: 1px;
  left: 2px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.submenu-link:hover {
  opacity: 0.6;
}

.submenu-link:focus-visible {
  border-color: #af4fff;
  opacity: 1;
  outline: none;
}

.submenu-link:active {
  border-color: #ffe17f;
  opacity: 0.3;
}

/* Слайдер */
.slider-container {
  position: relative;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #FFE17F 150px, #ffffff 150px 410px);
  counter-reset: slide-counter;
  margin-top: -37px;
}

.slider-item {
  position: relative;
  counter-increment: slide-counter;
  display: grid;
  grid-template-columns: 560px 560px;
  grid-template-rows: min-content min-content;
  grid-template-areas: "image title"
    "image description";
  column-gap: 40px;
  z-index: 0;
}

.slider-item::after {
  position: absolute;
  content: "0" counter(slide-counter);
  width: 250px;
  font-size: 180px;
  font-weight: 700;
  color: #ffffff;
  top: 83px;
  right: 11px;
  z-index: -1;

}

.slider-item-current {
  display: grid;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.slider-title {
  margin-top: 121px;
  margin-bottom: -9px;
  grid-area: title;
}

.slider-text {
  margin-top: 0;
  margin-bottom: 48px;
}

.slider-image {
  max-width: 100%;
  height: auto;
  grid-area: image;

}

.slider-description {
  grid-area: description;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background: linear-gradient(to bottom, transparent 40%, #FFE17F 40% 60%, transparent 60%);
  color: #000000;
  margin: 0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid transparent;
  display: inline-block;
}

.button-slider-more {
  display: inline-block;
  margin-bottom: 47px;
  width: 222px;
}

.button:not(:disabled):hover {
  background: border-box #ffe17f;
}

.button:not(:disabled):focus {
  background: linear-gradient(to bottom, #ffffff 40%, #FFE17F 40% 60%, #ffffff 60%);
  border-color: #af4fff;
  outline: none;
}

.button:not(:disabled):active {
  background: border-box #ffcc33;
}

.button:disabled {
  opacity: 0.3;
}

.slider-properties {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.slider-properties-column {
  display: flex;
  flex-direction: column-reverse;
}

.slider-properties-column:not(:nth-child(3n)) {
  margin-right: 20px;
}

.slider-properties-value {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 12px;
}

.slider-properties-parameter {
  font-size: 16px;
  line-height: 30px;
}

/*кнопки на слайдере*/
.slider-button-list {
  display: flex;
  justify-content: space-between;
  position: absolute;
  list-style: none;
  width: 538px;
  top: 206px;
  left: 26px;
  padding: 0;
  margin: 0;
}

.slider-prev {
  background-image: url("../images/icons/previous.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 20px 60px;
  background-position: center;
  width: 28px;
  height: 68px;
  box-sizing: border-box;
  padding: 2px;
  border: 2px solid transparent;
}

.slider-next {
  background-image: url("../images/icons/next.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 20px 60px;
  background-position: center;
  width: 28px;
  height: 68px;
  box-sizing: border-box;
  padding: 2px;
  border: 2px solid transparent;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  border-color: #af4fff;
  opacity: 1;
  outline: none;
}

.slider-button:active {
  border-color: transparent;
  opacity: 0.3;
}

.slider-pagination-list {
  display: flex;
  justify-content: space-between;
  width: 83px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-pagination-button {
  display: block;
  box-sizing: border-box;
  padding: 2px;
  margin: 0;
  background-color: #ffffff;
  border: 2px solid transparent;
  cursor: pointer;
}

.slider-pagination-button::after {
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  background-position: center;
  border-radius: 50%;
  content: "";
}

.slider-pagination-button-current.slider-pagination-button::after {
  background-color: #000000;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  opacity: 1;
  border: 2px solid #af4fff;
  outline: none;
}

.slider-pagination-button:active {
  border: 2px solid transparent;
  opacity: 0.3;
}

.product-categories {
  padding-top: 69px;
  padding-bottom: 75px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 168px);
  column-gap: 32px;
  row-gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -1px;
}

.categories-item {
  width: 168px;
  box-sizing: border-box;
  padding: 2px;
  border: 2px solid transparent;
 }

.categories-link {
  position: relative;
  box-sizing: border-box;
  width: 160px;
  display: inline-block;
  margin: 0;
  padding-top: 190px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: -0.02em;
  background-color: #ffffff;
  color: #000000;
}


.categories-item:hover .categories-link::after {
  background-color: #ffc700;
}

.categories-item:focus-within {
  border-color: #af4fff;
  outline: none;
}

.categories-item:focus-within .categories-link {
  outline: none;
}

.categories-item:active {
  opacity: 0.3;
  border-color: transparent;
}

.categories-vr::after {
  position: absolute;
  background-image: url("../images/icons/categorie-vr.svg");
  background-repeat: no-repeat;
  background-size: 97px 55px;
  background-position: center;
  background-color: #ffe17f;
  content: "";
  width: 160px;
  height: 160px;
  top: -3px;
  left: -3px;
}

.categories-monopod::after {
  position: absolute;
  background-image: url("../images/icons/categorie-monopod.svg");
  background-repeat: no-repeat;
  background-size: 87px 117px;
  background-position: center bottom -1px;
  background-color: #ffe17f;
  content: "";
  width: 160px;
  height: 160px;
  top: -3px;
  left: -3px;
}

.categories-camera::after {
  position: absolute;
  background-image: url("../images/icons/categorie-camera.svg");
  background-repeat: no-repeat;
  background-size: 72px 87px;
  background-position: center;
  background-color: #ffe17f;
  content: "";
  width: 160px;
  height: 160px;
  top: -3px;
  left: -3px;
}

.categories-fitness::after {
  position: absolute;
  background-image: url("../images/icons/categorie-fitness.svg");
  background-repeat: no-repeat;
  background-size: 108px 66px;
  background-position: center;
  background-color: #ffe17f;
  content: "";
  width: 160px;
  height: 160px;
  top: -3px;
  left: -3px;
}

.categories-watch::after {
  position: absolute;
  background-image: url("../images/icons/categorie-watch.svg");
  background-repeat: no-repeat;
  background-size: 57px 98px;
  background-position: center;
  background-color: #ffe17f;
  content: "";
  width: 160px;
  height: 160px;
  top: -3px;
  left: -3px;
}

.categories-quadrocopter::after {
  position: absolute;
  background-image: url("../images/icons/categories-quadrocopter.svg");
  background-repeat: no-repeat;
  background-size: 133px 70px;
  background-position: center;
  background-color: #ffe17f;
  content: "";
  width: 160px;
  height: 160px;
  top: -3px;
  left: -3px;
}

.services {
  width: 1440px;
  background: linear-gradient(to bottom, #ffffff 102px, #f0f0f0 102px 391px);
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 72px;
}

.services-list {
  width: 287px;
  box-sizing: border-box;
  list-style: none;
  border-right: 7px solid #000000;
  margin: 0;
  padding-top: 65px;
  padding-bottom: 64px;
  padding-right: 120px;
  padding-left: 0;
}

.services-item:not(:last-child) {
  margin-bottom: 36px;
}

.services-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background: linear-gradient(to bottom, transparent 40%, #FFE17F 40% 60%, transparent 60%);
  color: #000000;
  margin: 0;
  padding: 8px 14px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid transparent;
  width: 160px;
}

.services-button-current {
  width: 280px;
  padding-right: 130px;
  background: border-box #000000;
  color: #ffe17f;
}

.services-button:not(.services-button-current):not(:disabled):hover {
  background: border-box #ffe17f;
}

.services-button:not(.services-button-current):not(:disabled):focus {
  background: linear-gradient(to bottom, #ffffff 40%, #FFE17F 40% 60%, #ffffff 60%);
  border-color: #af4fff;
  outline: none;
}

.services-button:not(.services-button-current):not(:disabled):active {
  background: border-box #ffcc33;
}

.services-button.services-button-current:hover {
  padding-left: 45px;
  padding-right: 95px;
}

.services-button-current:focus {
  padding-left: 45px;
  padding-right: 95px;
  width: 276px;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #af4fff;
  outline: none;
}

.services-button.services-button-current:active {
  padding-left: 45px;
  padding-right: 95px;
}

.services-button:disabled {
  opacity: 0.3;
}

.services-description-list {
  position: relative;
  width: 479px;
  padding-top: 75px;
  padding-bottom: 65px;
  padding-left: 116px;
  padding-right: 278px;
  margin: 0;
  list-style: none;
}

.services-description-title {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
}

.services-description-text {
  padding: 0;
  margin: 0;
}

.services-delivery::after {
  position: absolute;
  background-image: url("../images/icons/services-delivery.svg");
  background-repeat: no-repeat;
  background-size: 136px 165px;
  background-position: center;
  content: "";
  width: 136px;
  height: 165px;
  top: -3px;
  right: -5px;
  transform: translate(-50%, 50%);
}

.services-guarantee::after {
  position: absolute;
  background-image: url("../images/icons/services-guarantee.svg");
  background-repeat: no-repeat;
  background-size: 171px 195px;
  background-position: center;
  content: "";
  width: 171px;
  height: 195px;
  op: -33px;
  right: -56px;
  transform: translate(-50%, 50%);
}

.services-credit::after {
  position: absolute;
  background-image: url("../images/icons/services-credit.svg");
  background-repeat: no-repeat;
  background-size: 156px 189px;
  background-position: center;
  content: "";
  width: 156px;
  height: 189px;
  top: -27px;
  right: -50px;
  transform: translate(-50%, 50%);
}

.exclusive {
  padding-top: 65px;
  padding-bottom: 68px;
}

.button-exclusive {
  width: 1160px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background-color: #f0f0f0;
  color: #000000;
  margin: 0;
  padding-left:125px;
  padding-right:125px;
  padding-top: 43px;
  padding-bottom: 37px;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid transparent;
  position: relative;
}

.button-exclusive::before {
  position: absolute;
  background-image: url("../images/icons/lorry.svg");
  background-repeat: no-repeat;
  background-size: 47px 31px;
  background-position: center;
  background-color: #ffe17f;
  content: "";
  width: 125px;
  height: 100%;
  top: 0;
  left: -1px;
}

.svg-exclusive-i {
  position: absolute;
  top: 30px;
  right: 40px;
  fill: #000000;
  fill-opacity: 0.6;
  padding: 14px 18px;
  border-radius: 50%;
  width: 4px;
  height: 12px;
  background-color: rgba(220, 220, 220, 0.5);
}

.button-exclusive:hover.button-exclusive::before {
  background-color: #ffc700;
}

.button-exclusive:hover .svg-exclusive-i {
  fill-opacity: 1;
}

.button-exclusive:focus {
  border-color: #af4fff;
  outline: none;
}

.button-exclusive:focus {
  border-color: #af4fff;
  outline: none;
}

.button-exclusive:focus .svg-exclusive-i {
  fill-opacity: 0.6;
}

.button-exclusive:focus.button-exclusive::before {
  background-color: #ffe17f;
}

.about-contact-wrapper {
  display: grid;
  grid-template-columns: 532px 532px;
  column-gap: 96px;
  padding-bottom: 67px;
}

.about-title {
  position: relative;
  padding: 0;
  padding-top: 46px;
  margin: 0;
  margin-bottom: 48px;
  width: 490px;
  box-sizing: border-box;
}

.about-title::before {
  position: absolute;
  left: 0;
  top: -2px;
  height: 7px;
  width: 84px;
  background-color: #000000;
  content: "";
}

.about-assortiment,
.about-delivery {
  margin-top: 0;
  margin-bottom: 30px;
  width: 500px;
}

.tk-list {
  width: 500px;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

.tk-item {
  margin: 0;
  padding-left: 37px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #000000;
  position: relative;
  width: 300px;
}

.tk-item::before {
  position: absolute;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #ffc700;
  border-radius: 50%;
  left: 0;
  top: 2px;
  transform: translate(50%, 50%);

}

.tk-item:not(:last-child) {
  margin-bottom: 19px;
}

.button-about {
  width: 270px;
}

.contacts-title {
  position: relative;
  padding: 0;
  padding-top: 46px;
  margin: 0;
  margin-bottom: 48px;
  width: 532px;
  box-sizing: border-box;
}

.contacts-title::before {
  position: absolute;
  left: 0;
  top: -2px;
  height: 7px;
  width: 84px;
  background-color: #000000;
  content: "";
}

.contacts-office {
  margin-top: 0;
  margin-bottom: 30px;
  width: 500px;

}

.contacts-subtitle {
  margin-top: 0;
  margin-bottom: 15px;
  width: 500px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
  color: #444444;
}

.button-contact-us {
  width: 260px;
}

.contacts-address-text {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  font-style: normal;
  margin: 0;
  width: 520px;
}

.contacts-phone {
  width: 170px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  font-style: normal;
  margin: 0;
  margin-bottom: 30px;
  display: inline-block;
}

.contacts-schedule-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-wrapper {
  padding-top: 64px;
  padding-bottom: 58px;
  display: grid;
  grid-template-columns: 448px 1fr 160px;
  grid-template-rows: min-content min-content;
  column-gap: 158px;
  row-gap: 144px;
}

.subscribe-title {
  margin: 0;
  width: 384px;
  padding-left: 7px;
}

.subscribe-description {
  grid-column: 2/-1;
  grid-row: 1/2;
  margin: 0;
  align-self: end;
}

.subscribe-form {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 810px;
  display: flex;
}

.field {
  padding-left: 16px;
  padding-right: 20px;
  background-color: #ffffff;
  border-color: transparent;
  border-bottom: 2px solid #c4c4c4;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
}

.field-email {
  width: 526px;
}

.field:not(:placeholder-shown) {
  color: #444444;
  background-color: #ffffff;
}

.field:placeholder-shown:focus {
  color: rgba(68, 68, 68, 0.5);
  background-color: #dcdcdc;
  outline: none;
}

.field:not(:placeholder-shown):focus {
  color: #444444;
  background-color: #ffffff;
  outline: none;
}

.field:not(:placeholder-shown):invalid {
  border-bottom: 2px solid #ff3d3d;
  background-color: #ffffff;
  color: rgba(68, 68, 68, 0.5);
  outline: none;
}

.field:disabled {
  opacity: 0.3;
}

.button-subscribe {
  width: 253px;
  padding: 14px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  box-sizing: border-box;
  border: 3px solid #c4c4c4;
  cursor: pointer;
}

.button-subscribe:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-subscribe:focus {
  outline: 3px solid #af4fff;
}

.button-subscribe:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.subscribe-free {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
  align-self: center;
  position: relative;
  padding-left: 30px;
}

.subscribe-free::before {
  position: absolute;
  background-image: url("../images/icons/green-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 14px;
  width: 15px;
  height: 14px;
  content: "";
  top: 7px;
  left: -2px;;
}

.breadcrumbs-title-container {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 35px;
  padding-bottom: 29px;
}

.catalog-header-title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.breadcrumbs-item{
  position: relative;

}
.breadcrumbs-item:not(:last-child) {
  margin-right: 34px;
}

.breadcrumbs-link {
  font-weight: 400;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  display: inline-block;
}

.catalog-backgroung {
  background-color: #f0f0f0;
  flex-grow: 1;
  display: flex;
}

.breadcrumbs-link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs-item:focus-within {
  outline: 3px solid #af4fff;
}

.breadcrumbs-item:focus-within .breadcrumbs-link {
  outline: none;
}

.breadcrumbs-link[href]:active {
  opacity: 0.3;
}

.breadcrumbs-item::after {
  background-image: url("../images/icons/nav-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-size: 4px 8px;
  min-width: 4px;
  min-height: 8px;
  right: -16px;
  bottom: 8px;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

/*страница каталога*/
.catalog-wrapper {
  display: flex;
}

.catalog-filter {
  padding-left: 60px;
  padding-right: 40px;

}

.catalog-subtitle-filter {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-align: left;
  padding: 25px 0;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 33px;
  width: 200px;
}

.catalog-filter-form {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.catalog-filter-group {
  width: 200px;
  margin: 0;
  margin-bottom: 34px;
  border: none;
  padding: 0;
}
.catalog-filter-title {
  width: 200px;
  padding-top: 10px;
  padding-right: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
  color: #000000;
  position: relative;
  margin-bottom: 22px;
  letter-spacing: -0.03em;
}

.filter-title-bluetooth{
margin-bottom: 13px;
}
.filter-title-color{
margin-bottom: 15px;
}

.catalog-filter-title::before {
  position: absolute;
  background-color: #000000;
  content: "";
  width: 200px;
  height: 2px;
  top: 0;
  left: 0;
}

/* Range */
.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  margin-bottom: 11px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:focus {
  outline: 3px solid #af4fff;
}

.range-toggle:active {
  background-color: #000000;
  border: 2px solid #000000;
  opacity: 1;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  width: 200px;
  margin-left: -13px;

}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.range-input {
  width: 50px;
  padding: 0;
  padding-left: 5px;
  padding-right: 2px;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  appearance: textfield;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.range-min {
  margin-right: 30px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input[type="number"] {
  -moz-appearance: textfield;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.catalog-filter-item {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.1em;
}

.control {
  position: relative;
  display: block;
  padding-left:  37px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.catalog-filter-item.filter-item-radio:not(:last-child) {
  margin-bottom: 20px;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background: #ebebeb;
  border-radius: 4px;
  border: 2px solid #cccccc;
}

.control-mark::after {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  background: transparent;
  border: 2px solid transparent;
  content: "";
}

.control-input:not(:disabled):hover + .control-mark {
  opacity: 0.6;
}

.control-input:not(:disabled):hover + .control-mark + .control-label {
  opacity: 0.6;
}

.control-input:focus-visible + .control-mark::after {
  border-color: #af4fff;
}

.control-input:not(:disabled):active + .control-mark {
  opacity: 0.3;
}

.control-input:not(:disabled):active + .control-mark + .control-label {
  opacity: 0.3;
}

.control-input:not(:disabled):active + .control-mark::after {
  border-color: transparent;
}

.control-input:disabled + .control-mark {
  opacity: 0.1;
}

.control-input:disabled + .control-mark + .control-label {
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/icons/tick-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked + .control-mark {
  border: 2px solid #000000;
}

.sorting-container {
  display: flex;
  width: 840px;
  box-sizing: border-box;
  padding: 18px 40px;
  align-items: center;
}

.catalog-subtitle-sort {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 200px;
  margin-right: 151px;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: transparent;
  text-align: left;
  width: 141px;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid transparent;
  padding: 0;
  padding-right: 30px;
  background-image: url("../images/icons/arrow-selector.svg");
  background-repeat: no-repeat;
  background-position: right 6px center;
  margin: 0;
  margin-right: 146px;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  outline: 2px solid #af4fff;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:disabled {
  opacity: 0.1;
}

.move-toggle-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 120px;
}

.card-move-toggle {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.svg-move-toggle {
  fill: #000000;
  fill-opacity: 0.2;
  padding: 8px 8px;
}

.card-move-toggle:hover .svg-move-toggle {
  fill-opacity: 0.5;
}

.card-move-toggle:focus {
  border: 2px solid #af4fff;
  outline: none;
}

.card-move-toggle:active .svg-move-toggle {
  fill-opacity: 1;
}

.product-list-container {
  background-color: #ffffff;
  width: 840px;
  box-sizing: border-box;
  padding-top: 70px;
  padding-bottom: 78px;
  padding-left: 40px;
  padding-right: 40px;
  flex-grow: 1;
}

.product-list {
  display: grid;
  width: 760px;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 41px;
  list-style: none;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
}

.product-item {
  width: 360px;
  position: relative;

}

.product-new::after {
  position: absolute;
  background-image: url("../images/icons/new.svg");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  content: "";
  width: 60px;
  height: 60px;
  top: 27px;
  right: 27px;
}

.product-display-more {
  position: absolute;
  width: 360px;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
  box-sizing: border-box;
  border: 3px solid transparent;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  padding: 168px 0;
}

.button-product-display-more {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background: linear-gradient(to bottom, transparent 40%, #FFE17F 40% 60%, transparent 60%);
  width: 220px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid transparent;
  display: block;
}

.product-item:hover .product-display-more {
  display: block;
}

.product-item:hover .product-discription-container {
  opacity: 0.6;
}

.product-item:focus-within {
  outline: 3px solid #af4fff;
}

.product-item:focus-within .product-image-link {
  outline: none;
}

.button-product-display-more:active {
  background: linear-gradient(to bottom, transparent 40%, #ffcc33 40% 60%, transparent 60%);
  color: #000000;
}

.button-download-more {
  width: 760px;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background: #ffffff;
  margin: 0;
  margin-bottom: 42px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border: 3px solid #e5e5e5;
}

.button-download-more:hover {
  border: 3px solid #000000;
}

.button-download-more:focus {
  border: 3px solid #e5e5e5;
  outline: 3px solid #af4fff;
}

.button-shdownloadow-more:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

.button-download-more:disabled {
  opacity: 0.3;
}

.product-image {
  max-width: 360px;
  margin-bottom: 27px;

}

.product-discription-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.product-title {
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  width: 230px;
  text-align: left;
  overflow-wrap: anywhere;
  letter-spacing: -0.02em;
}

.product-price {
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  width: 100px;
  text-align: right;
  overflow-wrap: anywhere;
  letter-spacing: 0.02em;
}

.product-image-link {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  text-transform: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.pagination-move {
  padding: 24px 19px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  display: inline-block;
  box-sizing: border-box;
  border: 3px solid transparent;
  color: #000000;
}

.pagination-move:hover {
  background-color: #dcdcdc;
}

.pagination-move:focus {
  border-color: #af4fff;
  outline: none;
}

.pagination-move:active {
  color: rgba(0, 0, 0, 0.3);
}


.pagination-link {
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  box-sizing: border-box;
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(68, 68, 68, 0.6);
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid transparent;
}

.pagination-current {
  color: rgba(68, 68, 68, 0.3);
}

.pagination-link[href]:hover {
  color: #444444;
}

.pagination-link[href]:focus {
  border-color: #af4fff;
  outline: none;
}

.pagination-link[href]:active {
  color: rgba(68, 68, 68, 0.4);
  ;
}

/* Футер */
.page-footer {
  background-color: #444444;
  padding-top: 61px;
  padding-bottom: 52px;
}

.footer-container {
  display: grid;
  grid-template-columns: 273px 592px 225px;
  grid-template-rows: min-content min-content;
  column-gap: 35px;
  row-gap: 45px;
  position: relative;
}

.footer-container::after {
  position: absolute;
  content: "";
  background-color: #ffc700;
  width: 80px;
  height: 7px;
  bottom: 20px;
  left: 0;
}

.page-footer-logo {
  display: inline-block;
  margin-bottom: 35px;
  block-size: 36px;
}

.page-footer-logo:hover {
  opacity: 0.6;
}

.page-footer-logo:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
}


.page-footer-logo:active {
  opacity: 0.3;
}


.footer-menu-container {
  display: flex;
  flex-direction: column;
}

.footer-phono-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 46px;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background-color: #444444;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  padding: 2px;
  text-align: center;
  width: 138px;
  box-sizing: border-box;
  position: relative;
}

.footer-menu-item:not(:last-child) {
  margin-right: 20px;
}

.footer-menu-link::before {
  position: absolute;
  right: 1px;
  bottom: 1px;
  left: 2px;
  height: 1px;
  background-color: transparent;
  content: "";
}

.footer-menu-item:hover .footer-menu-link {
  color: #ffc700;
}

.footer-menu-item:hover .footer-menu-link::before {
  background-color: #ffc700;
}

.footer-menu-item:focus-within {
  outline: 2px solid #af4fff;
}

.footer-menu-item:focus-within .footer-menu-link {
  outline: none;
}

.footer-menu-item:active .footer-menu-link {
  color: #ffc700;
  opacity: 0.3;
}

.footer-menu-item:active .footer-menu-link::before {
  background-color: #ffc700;
  opacity: 0.3;
}

.footer-contacts-address-text {
  color: #ffffff;
  width: 239px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  margin: 0;
}

.footer-contacts-phone {
  max-width: 220px;
}

.footer-contacts-phone-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  letter-spacing: 0.04em;
   padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  text-align: right;
}

.footer-phone {
  justify-self: end;
}

.footer-contacts-phone:hover .footer-contacts-phone-text {
  color: #ffc700;
}

.footer-contacts-phone:focus-within {
  outline: 3px solid #af4fff;
}

.footer-contacts-phone:focus-within .footer-contacts-phone-text {
  outline: none;
}

.footer-contacts-phone:active .footer-contacts-phone-text {
  color: #ffc700;
  opacity: 0.3;
}

.footer-social {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer-copyright {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: end;
  justify-self: end;
}

.svg-copyright {
  fill: #ffc700;
}

.copyright-link:hover .svg-copyright {
  fill: #ffffff;
}

.copyright-link:focus-within {
  outline: 3px solid #af4fff;
}

.copyright-link:focus-within .svg-copyright {
  outline: none;
}

.copyright-link:active .svg-copyright {
  fill: #ffc700;
  fill-opacity: 0.3;
}


.social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 545px;
}

.button-social {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.svg-social {
  fill: #444444;
  padding: 14px 12px;
}

.social-item {
  display: flex;
  padding: 2px;
}

.social-item:hover .button-social {
  background-color: #ffc700;
}

.social-item:focus-within {
  outline: 2px solid #af4fff;
}

.social-item:focus-within .button-social {
  outline: none;
}

.social-item:active .svg-social {

  fill-opacity: 0.3;
}

.social-item:not(:last-child) {
  margin-right: 11px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 4;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 10px solid #000000;
  box-sizing: border-box;
  padding: 62px 71px;
  width: 920px;

}

.modal-content {
  display: grid;
  grid-template-columns: 650px 1fr;
  column-gap: 40px;
  row-gap: 42px;
}

.modal-title {
  margin: 0;
  padding: 0;
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
}

.modal-close-button {
  /* position: absolute;
  top: 0;
  right: 0; */
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 3px solid transparent;

  align-self: self-start;
  justify-self: end;
  display: flex;
  align-items: center;
}

.order-form {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.order-form-container {
  display: grid;
  grid-template-columns: 360px 1fr 180px;
  column-gap: 40px;
  row-gap: 38px;
}

.email-label-container {
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
  grid-row: 1/2;
}


.close-button-svg {
  background-size: 26px 26px;
  fill: #000000;

}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  border: 3px solid #af4fff;
  outline: none;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:active .close-button-svg {
  fill: rgba(117, 97, 87, 0.3);
}

.hint {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-top: -6px;
}

.hint-error {
  color: #ff3d3d;
}

.name-label-container {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/2;
}

.modal-label {
  margin-bottom: 14px;
}

.modal-field {
  padding: 14px;
  background-color: #f0f0f0;
  border-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.3);
  box-sizing: border-box;
  border: 2px solid transparent;
}

.name-field {
  width: 360px;
  background-image: url("../images/icons/user-modal.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: center right 21px;
}

.email-field {
  width: 360px;
  background-image: url("../images/icons/letter-grey.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: center right 21px;
}

.modal-field:not(:placeholder-shown) {
  color: #000000;
  background-color: #ebebeb;
}

.modal-field:placeholder-shown:hover {
  color: rgba(68, 68, 68, 0.3);
  background-color: #dcdcdc;
}

.modal-field:not(placeholder-shown):hover {
  background-color: #dcdcdc;
}

.modal-field:placeholder-shown:focus {
  color: rgba(68, 68, 68, 0.3);
  background-color: #f0f0f0;
  border-color: #af4fff;
  outline: none;
}

.modal-field:not(:placeholder-shown):focus {
  color: #000000;
  background-color: #ebebeb;
  border-color: #af4fff;
  outline: none;
}

.modal-field:not(.quantity-field):not(:placeholder-shown):invalid {
  border: 2px solid #ff3d3d;
  background-color: #f0f0f0;
  color: #000000;
  outline: none;
}


.modal-field:disabled {
  opacity: 0.3;
}

.modal-label {
  padding: 0;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -1px;
}

.quantity-label-container {
  display: flex;
  align-items: center;
  width: 180px;
  margin-bottom: 14px;
}

.quantity-label {
  position: relative;
  margin-right: 8px;
  margin-bottom: 0;
}

.goods-label-container {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  grid-row: 2/3;
}

.tooltip {
  position: relative;
  display: flex;
}

.tooltip-toggle {
  position: absolute;
  top: -14px;
  left: 8px;
  background-color: transparent;
  background-image: url("../images/icons/i-modal.svg");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: center;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  border: none;
}


.tooltip-toggle:hover {
  opacity: 0.6;
}

.tooltip-text {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  width: 200px;
  box-sizing: border-box;
  padding: 17px;
  padding-right: 19px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 22px;
  right: -67px;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  content: "";
  background-image: url("../images/icons/arrow-tooltip.svg");
  width: 14px;
  height: 6px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 38px;
}

.quantity-count-container {
  display: flex;
  max-height: 60px;
  align-self: center;
  width: 180px;
}

.quantity-field {
  text-align: center;
  padding: 11px 0;
  width: 60px;
  justify-self: right;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.quantity-field::-webkit-outer-spin-button,
.quantity-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.quantity-field {
  -moz-appearance: textfield;
}

.button-count {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  box-sizing: border-box;
  border: 2px solid transparent;
  padding: 0;
}

.button-count:hover .count-minus-svg,
.button-count:hover .count-plus-svg {
  fill-opacity: 0.6;
}

.button-count:focus {
  border-color: #af4fff;
  outline: none;
}


.button-count:active .count-minus-svg,
.button-count:active .count-plus-svg {
  fill-opacity: 0.3;
}

.quantity-count-container:has(.quantity-field:invalid){
  outline: 2px solid #ff3d3d;
}

.quantity-field:invalid {
  border: 2px solid transparent;
  outline: none;
}

.count-minus-svg {
  fill: #000000;
  margin: 0 auto;
  padding: 28px 0;
}

.count-plus-svg {
  fill: #000000;
  margin: 0 auto;

}

.send-button {
  width: 200px;
}
