@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;


}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.main-index {
  flex-grow: 1;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  padding-top: 40px;
}

.header-container {
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 46px;
  background-color: #FFE17F;
}

.page-header-logo {
  position: absolute;
  margin-top: -66px;
}

.user-menu-container {
  display: flex;
  margin-bottom: 24px;
}

.user-search-form {
  display: flex;
  width: 529px;
  margin-right: 10px;
}

.navigation-user-link {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffe17f;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  margin: 0;
  border: 3px solid #ffe17f;

}

.navigation-user-link:hover {
  opacity: 0.6;
}


.navigation-user-link:focus {
  border-color: #af4fff;
  opacity: 1;
  outline: none;
}

.navigation-user-link:active {
  border-color: #ffe17f;
  opacity: 0.3;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 526px;
  justify-content: end;
}


.field-search:not(:placeholder-shown) {
  color: #000000;
}

.field-search:disabled {
  opacity: 0.3;
}

.field-search {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffe17f;
  background-image: url("../images/icons/search.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-x: 14px;
  background-position-y: 11px;
  width: 359px;
  border: 2px #000000 solid;
  border-radius: 50px 0 0 50px;
  padding-left: 48px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 6px;
  margin-right: -1px;
}

.button-search {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFE17F;
  width: 158px;
  border: 2px #000000 solid;
  border-radius: 0 50px 50px 0;
  padding: 9px;
  padding-left: 0;
  cursor: pointer;
}

.button-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-search:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.button-search:disabled {
  opacity: 0.3;
}

.navigation-login {
  width: 253px;
}

.user-login {
  width: 58px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 26px;
  text-align: left;
  background-image: url("../images/icons/login.svg");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: left 4px top 12px;
  margin-right: 18px;
}

.user-login.authorized {
  display: none;
}

.user-name {
  width: 123px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 26px;
  text-align: left;
  background-image: url("../images/icons/login.svg");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position-y: 12px;
  margin-right: 10px;
  display: none;
}

.user-logout {
  width: 56px;
  padding: 5px;
  display: none;
  opacity: 0.3;
}


.user-name.authorized,
.user-logout.authorized {
  display: inline-block;
}

.user-compare {
  width: 83px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 25px;
  background-image: url("../images/icons/diagram.svg");
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position-y: 13px;
}

.user-basket {
  width: 130px;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 46px;
  background-image: url("../images/icons/basket.svg");
  background-size: 16px 13px;
  background-repeat: no-repeat;
  background-position: left 19px top 11px;
  box-sizing: border-box;
  position: relative;
}


.user-basket-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 1px 0;
  margin: 0;
  position: absolute;
  top: 9px;
  left: 3px;
  width: 21px;
  height: 21px;
  display: inline-block;
  box-sizing: border-box;
}


.navigation-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  width: 1040px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background-color: #ffe17f;
  color: #000000;
  display: inline-block;
  margin: 0;
  padding: 2px;
  width: 129px;
  box-sizing: border-box;

  text-align: center;
  position: relative;
  border: 3px solid #ffe17f;
  /* border: 3px solid #af4fff; */
}


.navigation-menu-guarantee {
  margin-left: 40px;
  width: 130px;
}

.navigation-menu-contacts {
  margin-left: 26px;
  width: 136px;
}

.navigation-menu-delivery {
  margin-left: 35px;
  width: 135px;
}

.navigation-menu-current .navigation-menu-link::before {
  position: absolute;
  right: 2px;
  bottom: 1px;
  left: 2px;
  height: 2px;
  background-color: #000000;
  content: "";
}


.navigation-menu-catalog-link {
  position: relative;
  width: 296px;
  box-sizing: border-box;
  padding-right: 56px;
  padding-left: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  border: 3px solid #ffe17f;
}

.navigation-menu-catalog-link::after {
  background-image: url("../images/icons/circle-plus.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 51px;
  top: 0;
  right: 0;
  content: "";
  opacity: 0.3;
  z-index: 2;
  /* display: none; */
}

.navigation-menu-catalog-link::before {
  background-image: url("../images/icons/circle-minus.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 50px;
  height: 51px;
  top: 0;
  right: 0;
  content: "";
  opacity: 0.3;
  z-index: 2;
  display: none;
}

.navigation-menu-item-catalog {
  position: relative;
  margin-right: auto;
}

.submenu-container-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 1160px;
  box-sizing: border-box;
  padding-top: 24px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 48px;
  margin: 0;
  position: absolute;
  top: 36px;
  left: -60px;
  background-color: #FFE17F;
  list-style: none;
  z-index: 2;
}


.submenu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 185px;
}

.submenu-list-wide {
  width: 225px;
}

.submenu-container-item:not(:last-child) {
  margin-right: 30px;
}

.submenu-close {
  display: none;
}

/*кнопки меню НЕ каталог*/
.navigation-menu-link:not(.navigation-menu-catalog-link):hover {
  opacity: 0.6;
}

.navigation-menu-link:not(.navigation-menu-catalog-link):focus {
  border-color: #af4fff;
  opacity: 1.0;
  outline: none;
}

.navigation-menu-link:not(.navigation-menu-catalog-link):active {
  border-color: #ffe17f;
  opacity: 0.3;
}

/*Каталог*/
/*меняем цвет у крестика/минуса*/
.navigation-menu-item-catalog:hover .navigation-menu-catalog-link::after,
.navigation-menu-item-catalog:hover .navigation-menu-catalog-link::before {
  opacity: 1;
}

.navigation-menu-item-catalog:focus-within .navigation-menu-catalog-link {
  border-color: #af4fff;
  outline: none;
}


/*крестик меняется на минус*/
.navigation-menu-item-catalog:focus-within .navigation-menu-catalog-link::after {
  display: none;
}

.navigation-menu-item-catalog:focus-within .navigation-menu-catalog-link::before {
  display: block;
}

/*открывается подменю*/
.navigation-menu-item-catalog:focus-within .submenu-container-list {
  display: flex;
}

.navigation-menu-item-catalog:active .navigation-menu-catalog-link::after,
.navigation-menu-item-catalog:active .navigation-menu-catalog-link::before {
  opacity: 1;
}

.navigation-menu-item-catalog:active .submenu-container-list {
  display: flex;
}

.submenu-item {

  margin-bottom: 10px;
}

.submenu-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  margin: 0;
  padding: 3px 2px;
  box-sizing: border-box;
  border: 2px solid #ffe17f;
  position: relative;
}

.submenu-current .submenu-link::before {
  position: absolute;
  right: 2px;
  bottom: 1px;
  left: 2px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.submenu-link:hover {
  opacity: 0.6;
}

.submenu-link:focus {
  border-color: #af4fff;
  opacity: 1;
  outline: none;
}

.submenu-link:active {
  border-color: #ffe17f;
  opacity: 0.3;
}

/* Слайдер */
.slider-container {
  position: relative;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #FFE17F 150px, #ffffff 150px 410px);
  counter-reset: slide-counter;
}

.slider-item {
  position: relative;
  counter-increment: slide-counter;
  /* display: grid; */
  display:none;
  grid-template-columns: 560px 560px;
  grid-template-rows: min-content min-content;
  grid-template-areas: "image title"
  "image description";
  column-gap: 40px;
  z-index: 1;
}

.slider-item::after{
  position: absolute;
  content: "0"counter(slide-counter);
  width: 250px;
  font-size: 180px;
   font-weight: 700;
  color: #ffffff;
  top: 83px;
  right: 11px;
  z-index: -1;

}
.slider-item-current {
  display: grid;
}

.slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  /* width: 545px; */
  margin-top: 121px;
  margin-bottom: 29px;
  grid-area: title;


}

.slider-text {
  margin-top: 0;
  margin-bottom: 50px;
}

.slider-image {
  max-width: 100%;
  height: auto;
  grid-area: image;

}

.slider-description {
  grid-area: description;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background: linear-gradient(to bottom, #ffffff 40%, #FFE17F 40% 60%, #ffffff 60%);
  color: #000000;
  margin: 0;
  padding: 10px 37px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button-slider-more {
  display: inline-block;
  margin-bottom: 50px;
}

.slider-properties {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.slider-properties-column {
  display: flex;
  flex-direction: column-reverse;
}

.slider-properties-column:not(:nth-child(3n)) {
  margin-right: 20px;
}

.slider-properties-value {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 12px;
}

.slider-properties-parameter {
  font-size: 16px;
  line-height: 30px;
}

/*кнопки на слайдере*/
.slider-button-list {
  display: flex;
  justify-content: space-between;
  position: absolute;
  list-style: none;
  width: 522px;
  top: 211px;
  left: 37px;
  padding: 0;
  margin: 0;
}

.slider-prev {
  background-image: url("../images/icons/previous.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 20px 60px;
  background-position: center;
  width: 28px;
  height: 68px;
  box-sizing: border-box;
  padding: 2px;
  border: 2px solid transparent;
}

.slider-next {
  background-image: url("../images/icons/next.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 20px 60px;
  background-position: center;
  width: 28px;
  height: 68px;
  box-sizing: border-box;
  padding: 2px;
  border: 2px solid transparent;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  border-color: #af4fff;
  opacity: 1;
  outline: none;
}

.slider-button:active {
  border-color: transparent;
  opacity: 0.3;
}

.slider-pagination-list {
  display: flex;
  justify-content: space-between;
  width: 76px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.slider-pagination-button{
  display: block;
  box-sizing: border-box;
  padding: 2px;
  margin: 0;
  background-color: #ffffff;
  border: 2px solid transparent;
cursor: pointer;
}

.slider-pagination-button::after {
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  background-position: center;
  border-radius: 50%;
  content: "";
}

.slider-pagination-button-current.slider-pagination-button::after {
  background-color: #000000;
}

.slider-pagination-button:hover{
opacity: 0.6;
}
.slider-pagination-button:focus {
  opacity: 1;
  border: 2px solid #af4fff;
  outline: none;
  }
.slider-pagination-button:active{
  border: 2px solid transparent;
  opacity: 0.3;
  }

/* Футер */
.page-footer {
  background-color: #444444;
  padding: 57px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 273px 592px 225px;
  grid-template-rows: min-content min-content;
  column-gap: 35px;
  row-gap: 47px;

}

.page-footer-logo {
  display: inline-block;
  margin-bottom: 35px;
  block-size: 36px;
}

.footer-menu-container {
  display: flex;
  flex-direction: column;
}

.footer-phono-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  background-color: #444444;
  color: #ffffff;
  display: inline-block;
  margin: 0;
  padding: 5px;
  text-align: center;
  width: 128px;
}

.footer-menu-item:not(:last-child) {
  margin-right: 10px;
}

.contacts-address-text {
  color: #ffffff;
  width: 239px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  margin: 0;
}

.contacts-phone {
  max-width: 170px;
}

.contacts-phone-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 0;
  display: inline-block;
}

.footer-phone {
  justify-self: end;
}

.footer-social {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer-copyright {
  grid-column: 3/4;
  grid-row: 2/3;
  align-self: end;
  justify-self: end;
}


.social-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.button-social {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;

}

.social-item:not(:last-child) {
  margin-right: 15px;
}

.button-social-twitter {
  background-image: url(../images/icons/social-twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-social-telegram {
  background-image: url(../images/icons/social-telegram.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.button-social-youtube {
  background-image: url(../images/icons/social-youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}
